# Zero to Hero

## 1.09 Dividir en Training y Testing
## version libreria caret

El objetivo es hacer una division del dataset en training/testing que sea estratificada en la clase
<br>
https://es.wikipedia.org/wiki/Muestreo_estratificado

In [1]:
rm( list=ls())
gc()

library( "data.table")   #cargo la libreria  data.table
library( "rpart")  #cargo la libreria  rpart
library( "rpart.plot")

options(repr.plot.width=20, repr.plot.height=10) 
setwd("../../../")  #Aqui se debe poner la ruta de la PC local

       used    (Mb) gc trigger (Mb) max used (Mb)
Ncells  612169 32.7 1326338    70.9 1067269  57.0
Vcells 1146016  8.8 8388608    64.0 1801048  13.8

In [2]:
dataset <- fread("./datasets/competencia1_2022.csv")   #cargo el dataset #cargo el dataset
denero <- dataset[ foto_mes==202101 ]

In [3]:
library("caret")

Loading required package: ggplot2

Loading required package: lattice

https://www.rdocumentation.org/packages/caret/versions/6.0-88/topics/createDataPartition
<br>
la funcion  **createDataPartition** devolverá un vector de posiciones, las que cumplen con la particion indicada
<br>
*p= 0.5* significa que queremos el 50% de los registros
<br>
*dataset$clase_ternaria*   es el vector con la clase ternaria, que es por donde se estratificará
<br>

In [4]:
train_rows <- createDataPartition(denero$clase_ternaria, p= 0.50, list= FALSE)

veamos que ha quedado en  los primeros registros del vector **train_rows**

In [5]:
head( train_rows )

     Resample1
[1,]  1
[2,]  7
[3,]  9
[4,] 12
[5,] 13
[6,] 14

Aqui ya vemos que la particion tiene un suconjunto de los registros

ahora creamos los datasets de training y testing

In [6]:
dtrain <- denero[ train_rows]

-train_rows  significa el complemento  (no confundir con numeros negativos)

In [7]:
dtest <- denero[ -train_rows]

Compruebo la division

In [8]:
nrow( dtrain)
nrow( dtest )
nrow( dtrain) + nrow(dtest)
nrow( denero)

[1] 80671

[1] 80671

[1] 161342

[1] 161342

Compruebo que la particion es estratificada

In [9]:
denero[  , .N, clase_ternaria]
dtrain[  , .N, clase_ternaria]
dtest[  , .N, clase_ternaria]

  clase_ternaria N
1 CONTINUA       159828
2 BAJA+1            664
3 BAJA+2            850

  clase_ternaria N
1 CONTINUA       79914
2 BAJA+2           425
3 BAJA+1           332

  clase_ternaria N
1 CONTINUA       79914
2 BAJA+1           332
3 BAJA+2           425

La division se ha construido en forma perfectamente estratificada !