In [244]:
import os 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [245]:
directory = "4_01/preds/"
pred_files = os.listdir(directory)

In [246]:
for n, pred_file in enumerate(pred_files):
    if n == 0:
        d = pd.read_csv(directory + pred_file, sep = "\t").drop(columns = ["foto_mes"]).rename(columns = {"prob":pred_file})
    else:
        d2 = pd.read_csv(directory + pred_file, sep = "\t").drop(columns = ["foto_mes"]).rename(columns = {"prob":pred_file})
        d = pd.merge(d,d2, on = "numero_de_cliente", how = "outer")

In [247]:
d = d.transpose()
d.columns = d.loc["numero_de_cliente"].astype(int).astype(str)
d = d.drop("numero_de_cliente")

In [259]:
d_ordered =  d.rank(ascending = False,axis = 1).reindex(d.median().sort_values(ascending = False).index, axis=1)

In [262]:
d_ordered.iloc[:,1000:1010]

numero_de_cliente,179028868,162508512,68199037,130018427,167143989,104869768,82394331,174560631,124861756,112435313
exp_ZZ401_pred_02_057_seed14479.csv,1796.0,1735.0,564.0,1418.0,657.0,519.0,858.0,1600.0,1571.0,1579.0
exp_ZZ401_pred_02_057_seed267017.csv,1229.0,743.0,607.0,899.0,755.0,1253.0,1393.0,1939.0,1376.0,1331.0
exp_ZZ401_pred_02_057_seed1709.csv,681.0,1401.0,1207.0,1444.0,903.0,1046.0,597.0,886.0,1442.0,2862.0
exp_ZZ401_pred_01_052_seed199.csv,925.0,767.0,981.0,970.0,1076.0,1168.0,1091.0,758.0,1033.0,1055.0
exp_ZZ401_pred_01_052_seed138937.csv,1090.0,873.0,1040.0,841.0,1080.0,935.0,1132.0,1130.0,835.0,1285.0
...,...,...,...,...,...,...,...,...,...,...
exp_ZZ401_pred_01_052_seed10501.csv,1132.0,1130.0,960.0,766.0,1148.0,1179.0,1083.0,1171.0,880.0,1008.0
exp_ZZ401_pred_01_052_seed11.csv,1117.0,1018.0,1034.0,893.0,1061.0,1087.0,1264.0,1060.0,789.0,932.0
exp_ZZ401_pred_01_052_seed313.csv,1092.0,969.0,1095.0,917.0,1135.0,1062.0,909.0,892.0,987.0,1112.0
exp_ZZ401_pred_01_052_seed31.csv,1039.0,873.0,1104.0,1074.0,1089.0,1150.0,1054.0,931.0,968.0,1028.0
exp_ZZ401_pred_02_057_seed374321.csv,1025.0,1726.0,1495.0,984.0,822.0,759.0,696.0,1300.0,2097.0,851.0

In [265]:
for n_envios in [7000,8000,9000,10000]:
    nombre_entrega = f"401_model1&2_median_rank_{n_envios}e.csv"
    d_entrega  = pd.DataFrame({"numero_de_cliente" : d_ordered.columns, "mean_rank":d_ordered.mean().values})
    d_entrega["Predicted"] = 0
    d_entrega.loc[0:n_envios-1, "Predicted"] = 1
    d_entrega.drop("mean_rank", axis = 1, inplace = True)
    d_entrega.to_csv(nombre_entrega, index = None)

In [255]:
d_entrega

       numero_de_cliente  Predicted
0              176089117          1
1              156968062          1
2              117607104          1
3              116165648          1
4              121246886          1
...                  ...        ...
164930         131577015          0
164931         100871888          0
164932         103531864          0
164933         144379698          0
164934         127991418          0

[164935 rows x 2 columns]